.cover__subtitle {
    width: calc(100% - 2 * 412px);
    font-size: 18px;
    line-height: 22px;
    text-align: center;
    margin: 32px auto auto auto;
    padding: 0;
    z-index: 1;
}

.cover__subtitle:hover ~ .cover__overlay {
    opacity: 0.8;
}

@media screen and (max-width: 1024px) {
    .cover__subtitle {
        width: calc(100% - 2 * 332px);
    }
}

@media screen and (max-width: 768px) {
    .cover__subtitle {
        width: calc(100% - 2 * 204px);
    }
}

@media screen and (max-width: 320px) {
    .cover__subtitle {
        width: calc(100% - 2 * 16px);
        font-size: 14px;
        line-height: 16px;
        margin-top: 16px;
    }
}